.title{
    display: flex;
    flex-direction: column;
}
.h1{
    color: red !important;
    font-size: 40px !important;
    font-weight: 700 !important; 
}
.mentors{
    margin-inline: 60px;
    margin-top: 60px;
}
.ant-pagination{
    display: flex !important;
    margin-top: 40px !important;
}
.ant-pagination-item{
    background-color: red !important;
    border: none !important;
    border-radius: 50% !important;
}
.ant-pagination-item a{
    color: white !important;
}
.ant-input {
    border: 1px solid red !important;
}
.ant-btn{
    border: 1px solid red !important;
    color: red;
    border-left: none !important;
}
.ant-select{
    border: 1px solid red;
    color: red !important;
}
.ant-table-css-var{
    animation: ant 1.3s ease;
}
@keyframes ant {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        
    }
}